<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shortened URL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
  body {
  }
  .row {
    margin: auto;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-bottom: 10px;
    border-radius: 10px;
    background: #eee;
  }
  form {
    padding-left: 30px;
    margin-bottom: 30px;
  }
</style>
<body>
  <header>
    <% include ../partials/_header %>
  </header>
  <div class="container">
    <div class="row">
    <% if (url.userID != user_id) { %>
      <h2>You did not create this URL</h2>
      <h2>You may only change/delete URLs you created</h2>
    </div>
    <% } else { %>
      <table>
        <td><h2><a href="<%= url.longURL %>"><%= url.longURL %> &#8594; <%= url.fullURL %></a></h2></td>
        <td>
        <form style="padding-top: 40px; padding-right: 50px" method="POST" action="/urls/<%= url.shortURL %>/delete?_method=DELETE"><button>Delete This Entry</button></form>
        </td>
      </table>
      <h4 style="padding-bottom: 20px;">Created: <%= url.timeCreated %></h3>
    </div>
    <form style="font-size: 20px;" method="POST" action='/urls/<%= url.shortURL %>/update?_method=PUT'>
      Update the long URL: <input type="http" name="newurl">
      <button type='submit' formmethod='POST'>Update</button>
    </form>
    <div>
      Total visits: <%= url.visits %>
      Unique visitors: <%= url.uniqueVisits %>
    </div>
    <table class="table table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Visitor</th>
          <th>Visit ID</th>
          <th>Time of visit</th>
        </tr>
      </thead>
      <tbody>
      <% for (const visitor in url.visitors) { %>
        <tr><td><%= url.visitors[visitor].uniqueVisitor %></td><td><%= visitor %></th><th><%= url.visitors[visitor].visitTime %></th></tr>
      <% } %>
      </tbody>
    </table>
    <% } %>
  </div>
</body>
</html>