<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel='stylesheet' type='text/css' href="/public/assets/styles.css">
</head>

<body>
  <!-- Add your EJS code here -->
  <header>
    <% include ../partials/_header %>
    <link rel='stylesheet' type='text/css' href='style.css'>
  </header>

  <h1>
    List of URLs in database
  </h1>
  <table>
    <% for (const url in urls) { %>
      <% if (user_id == urls[url].userID) { %>
        <tr>
          <th>
            <form action='/urls/<%= url %>/delete' method="POST" id='form<%= url %>'><%= url %>: <%= urls[url].longURL %>
            </form>
          </th>
          <th>
            <button type='submit' formmethod='POST' form='form<%= url %>'>Delete</button>
          </th>
          <th>
            <form method="GET" action='/urls/<%= url %>/'>
              <button type='submit' formmethod='GET'>Update</button>
            </form>
          </th>
        </tr>
      <% } %>
    <% } %>
      <% if (!loggedIn) { %>
      <tr><th style="text-align: center;">Please Login First</th></tr>
      <% } %>
  </table>
</body>
</html>